H2 {text-align: center; font-family: Courier New; font: bold 18pt; color: red;}
P {font-family: Verdana; font-size: 11pt;}
H3 {display: list-item; list-style-type: decimal; font: bold; color: green; letter-spacing: 5pt;}
STRONG {font-style: italic; font-weight:normal; text-decoration: underline; color: blue;}
